@model IEnumerable<FormASP.NET_Core.Entities.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
    <style>
        body{
            background-color:gray
        }
        img{
            width:100px;
            height:100px;
            padding-left:1em
        }
        .rn{
            width:15em;
            height:5em;
            background-color:deepskyblue
        }
        .button{
            width:15em;
            height:4em;
            background-color:darkblue;
            color:white
        }
    </style>
</head>
<body>




    <div  style=" width:100%; border-radius:10px; display:flex; background-color:gray">
        @foreach (var item in Model)
        {
            <div style=" margin-left:50px; border-radius:10px; width:20em; background-color:burlywood">
                <img src="~/img/@item.ImagePath" />
                <h1>@item.Name</h1>
                <h1>@item.Surname</h1>
                <h1>@item.Age</h1>
            </div>
        }
    </div>

    <input class="button" type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Home") + "'");" />


</body>
</html>
